.md-header {
    background-color: #ab0746;
}

.md-tabs {
    background-image: linear-gradient(to bottom, #ab0746, #070743);
}


.md-search__form {
    background-color: #070743;
}

.md-footer {
    background-color: #070743;
}

.md-tabs__item a {
    font-size: 16px;
    font-weight: bold;
    color: white
}

/* Customização das tabelas */
.md-typeset table:not([class]) th {
    background-color: #070743;
    color: white;
}

tr:nth-child(odd) {
    background-color: #e0ddf7;
}

th {
    font-weight: bold;
}
